@import "../../_variables";

.round-btn {
    background-color: $accent-color;
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 100%;
    box-sizing: border-box;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
    &:hover {
        cursor: default;
        transform: rotate(90deg);
    }
    span {
        user-select: none;
        -webkit-user-select: none;
        font-family: "flik";
        font-size: 18px;
        color: #ffffff;
    }
}