@import "../../_variables";

.navbar-wrapper {
	width: 100%;
	height: 160px;
	@media screen and (max-width: 600px) {
		height: auto;
	}
	display: block;
	.logo-wrapper {
		width: 74px;
		height: 100%;
		float: left;
		display: flex;
		align-items: center;
		padding-left: 42px;
		@media screen and (max-width: 600px) {
			height: auto;
			padding-top: 44px;
			width: 100%;
			justify-content: center;
			padding-left: 0;
		}
		.logo-shadow {
			width: 74px;
			height: 74px;
			border-radius: 37px;
			background: url("/dist/img/logo.png");
			background-position: center;
			background-size: contain;
			transition: $standard-transition;
			animation: logo-appear $standard-transition;
			@keyframes logo-appear {
				0% {
					transform: scale(0);
				}
				100% {
					transform: scale(1);
				}
			}
		}
	}
	.right-aligned-links {
		float: right;
		height: 100%;
		padding-right: 37px;
		@media screen and (max-width: 600px) {
			// opacity: 0;
			display: flex;
			// animation: none;
			justify-content: center;
			padding-right: 0;
			width: 100%;
		}
		.links-desktop {
			height: 100%;
			opacity: 1;
			display: block;
			transition: $standard-transition;
			animation: links-desktop-appear $standard-transition;
			@keyframes links-desktop-appear {
				0% {
					transform: translateY(30px);
				}
				100% {
					transform: translateY(0px);
				}
			}
		}
		.links-mobile {
			height: 100%;
			opacity: 0;
			display: none;
			transition: $standard-transition;
			// @media screen and (max-width: 600px) {
			// 	opacity: 1;
			// 	display: block;
			// 	animation: links-mobile-appear $standard-transition;
			// 	@keyframes links-mobile-appear {
			// 		0% {
			// 			transform: translateY(30px);
			// 		}
			// 		100% {
			// 			transform: translateY(0px);
			// 		}
			// 	}
			// }
		}
		.newsletter-wrapper {
			height: 100%;
			padding: 30px 10px;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			form {
				width: 100%;
				height: 100%;
			}
			.newsletter-inner {
				display: inline-flex;
				align-items: center;
				padding: 9px 5px;
				box-sizing: border-box;
				border-radius: 40px;
				height: 100%;
				background: transparent;
				transition: $standard-transition;
				&.triggered {
					animation: pop 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
					@keyframes pop {
						0% {
							transform: scale(1);
						}
						50% {
							transform: scale(1.1);
						}
						100% {
							transform: scale(1);
						}
					}
				}
			}
		}
		.link-wrapper {
			height: 100%;
			padding: 0px 5px;
			display: inline-flex;
			align-items: center;
			float: left;
			input.input {
				background: transparent;
				color: darken($button-text-color, 20);
				font-size: 10px;
				border: 0;
				outline: 0;
				width: 150px;
				border-bottom: 1px solid lighten($accent-color, 50);
				transition: border-bottom 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
				&.slim {
					padding: 10px 5px;
				}
				&.invalid {
					border-bottom: 1px solid $light-red;
				}
				&::placeholder {
					letter-spacing: 1.12px;
					color: rgb(65, 50, 133);
					text-align: center;
					font-weight: bold;
				}
			}
			a.link, button.link {
				background-color: transparent;
				padding: 5px 10px;
				border-radius: 30px;
				font-size: 9px;
				position: relative;
				font-weight: bold;
				text-decoration: none;
				color: $button-text-color;
				border: 0;
				text-transform: uppercase;
				letter-spacing: 1.12px;
				transition: $standard-transition;
				outline: 0;
				&:hover {
					background-color: #eeeeee;
					cursor: pointer;
				}
				&.filled {
					padding: 16px 30px;
					background-color: $button-background-color;
					color: $button-text-color;
					&.no-padding {
						padding: 0px;
					}
					&:hover {
						background-color: darken($button-background-color, 3);
					}
				}
				.button-steps-container {
					position: relative;
					height: 10px;
					width: 80px;
					padding: 16px 30px;
					.button-step-wrapper {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						padding: 16px 30px;
						box-sizing: border-box;
						&.icon-padding {
							padding: 12px 30px;
						}
						.step-container {
							height: 100%;
							width: 100%;
							height: 100%;
							opacity: 0;
							transform: scale(0.5);
							transition: $standard-transition;
							&.active {
								opacity: 1;
								transform: scale(1);
							}
							&.success, &.loading {
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
}