@import "../../_variables";

.navbar-wrapper {
	width: 100%;
	height: 160px;
	display: block;
	.logo-wrapper {
		width: 74px;
		height: 100%;
		float: left;
		display: flex;
		align-items: center;
		padding-left: 42px;
		.logo-shadow {
			width: 74px;
			height: 74px;
			border-radius: 37px;
			background: url("/dist/img/logo.png");
			background-position: center;
			background-size: contain;
			box-shadow: $standard-shadow;
			transition: $standard-transition;
			animation: logo-appear $standard-transition;
			@keyframes logo-appear {
				0% {
					transform: scale(0);
				}
				100% {
					transform: scale(1);
				}
			}
			&:hover {
				box-shadow: $standard-shadow-hover;
			}
		}
	}
	.right-aligned-links {
		float: right;
		height: 100%;
		padding-right: 37px;
		.links-desktop {
			height: 100%;
			opacity: 1;
			display: block;
			transition: $standard-transition;
			animation: links-desktop-appear $standard-transition;
			@keyframes links-desktop-appear {
				0% {
					transform: translateY(30px);
				}
				100% {
					transform: translateY(0px);
				}
			}
			@media screen and (max-width: 600px) {
				opacity: 0;
				display: none;
				animation: none;
			}
		}
		.links-mobile {
			height: 100%;
			opacity: 0;
			display: none;
			transition: $standard-transition;
			@media screen and (max-width: 600px) {
				opacity: 1;
				display: block;
				animation: links-mobile-appear $standard-transition;
				@keyframes links-mobile-appear {
					0% {
						transform: translateY(30px);
					}
					100% {
						transform: translateY(0px);
					}
				}
			}
		}
		.newsletter-wrapper {
			height: 100%;
			padding: 30px 10px;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			.newsletter-inner {
				padding: 9px 5px;
				padding-left: 20px;
				border-radius: 40px;
				background: transparent;
				transition: $standard-transition;
				&.triggered {
					background: lighten($accent-color, 50);
				}
			}
		}
		.link-wrapper {
			height: 100%;
			padding: 0px 5px;
			display: inline-flex;
			align-items: center;
			input.input {
				background: transparent;
				color: #22155C;
				font-size: 10px;
				border: 0;
				outline: 0;
				width: 150px;
				border-bottom: 1px solid lighten($accent-color, 40);
				&.slim {
					padding: 10px 5px;
				}
				&::placeholder {
					letter-spacing: 1.12px;
					color: rgb(65, 50, 133);
					text-align: center;
					font-weight: bold;
				}
			}
			a.link, button.link {
				background-color: transparent;
				padding: 5px 10px;
				border-radius: 30px;
				font-size: 9px;
				font-weight: bold;
				text-decoration: none;
				color: #22155C;
				border: 0;
				text-transform: uppercase;
				letter-spacing: 1.12px;
				transition: $standard-transition;
				outline: 0;
				&:hover {
					background-color: #eeeeee;
					cursor: pointer;
				}
				&.filled {
					padding: 16px 30px;
					background-color: $accent-color;
					color: #ffffff;
					box-shadow: $standard-shadow;
					&:hover {
						box-shadow: $standard-shadow-hover;
						background-color: darken($accent-color, 3);
					}
				}
			}
		}
	}
}