<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width">
         <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <title>Welcome to the Flik Newsletter!</title>
        <style type="text/css">
            @import url(https://use.typekit.net/ykq0wgv.css);
            body {
                margin: 0;
                padding: 30px;
                box-sizing: border-box;
                min-width: 100%!important;
                font-family: "usual", Helvetica, sans-serif; 
            }

            .content {
                width: 100%;
                max-width: 600px;
            }
            .logo {
                margin: 30px 0px;
                box-shadow: 0px 10px 20px rgba(39, 0, 86, 0.15);
                border-radius: 35px;
            }
            h1.main-header {
                font-weight: bold;
                font-size: 26px;
                color: #22155C;
                max-width: 400px;
                margin: 0;
                text-align: center;
            }
            h2.what-to-expect-header {
                font-size: 18px;
                font-weight: normal;
                margin-top: 50px;
                color: #9586DA;
            }
            h2.unsubscribe-text {
                font-size: 14px;
                font-weight: normal;
                margin-top: 75px;
                color: #9586DA;
            }
            ul {
                list-style: none;
                padding: 0;
            }
            ul li {
                text-align: left;
            }
            ul li div.list-marker {
                display: inline-block;
                width: 30px;
                height: 30px;
                font-weight: normal;
                padding: 9px;
                padding-left: 12px;
                font-size: 10px;
                box-sizing: border-box;
                background-color: #6905E0;
                border-radius: 45px;
                box-shadow: 0px 10px 20px rgba(39, 0, 86, 0.15);
                color: #ffffff;
            }
            ul li p {
                display: inline-block;
                text-align: left;
                color: #8D85B2;
                font-size: 12px;
                margin: 0;
                padding: 10px;
            }
            a.unsubscribe-link {
                text-decoration: none;
                color: rgb(108, 93, 173);
            }
        </style>
    </head>
    <body bgcolor="#fff">
        <table width="100%" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
                <td>
                    <table class="content" align="center" cellpadding="0" cellspacing="0" border="0" role="presentation">
                        <tr>
                            <td>
                                <center>
                                    <img class="logo" src="https://flik.im/dist/img/logo.png" width="70" height="70" />
                                    <h1 class="main-header">Thanks for signing up for our newsletter!</h1>
                                </center>
                                <center>
                                    <h2 class="what-to-expect-header">Here's what you'll receive:</h2>
                                    <ul>
                                        <li>
                                            <div class="list-marker">1</div>
                                            <p class="list-item-text">Updates about Flik</p>
                                        </li>
                                        <li>
                                            <div class="list-marker">2</div>
                                            <p class="list-item-text">Awesome behind-the-scenes stuff from our team</p>
                                        </li>
                                        <li>
                                            <div class="list-marker">3</div>
                                            <p class="list-item-text">An invite to test Flik before others (if you're lucky)</p>
                                        </li>
                                    </ul>
                                </center>
                                <center>
                                    <h2 class="unsubscribe-text">Don't want our emails? <a href="https://flik.im/email/unsubscribe?email={{email}}" class="unsubscribe-link">Click here to unsubscribe.</a></h2>
                                </center>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>