@import "../../_variables";

.chat-sidebar-wrapper {
	position: relative;
	width: 300px;
	height: 100%;
	padding: 8px 6px;
	box-sizing: border-box;
	border-right: 1px solid $line-color;
	.screen {
		width: 100vw;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 300;
		&.hidden {
			display: none;
		}
		&:hover {
			cursor: pointer !important;
		}
	}
	.drag-anchor {
		position: absolute;
		width: 6px;
		height: 100%;
		right: -3px;
		top: 0;
		&:hover {
			cursor: col-resize;
		}
	}
	.chats-list-wrapper {
		padding-top: 8px;
	}
}