$main-text-color: #000000;
$subtext-color: #7E7E7E;
$accent-color: #D922B9;
$bg-color: #ffffff;
$highlight-color: #EBEBEB;
$line-color: #dcdcdc;
$light-red: #FF6159;
$light-yellow: #FFBD2E;
$light-green: #28C941;
$cyan: #28C9C6;
$border-radius-standard: 7px;
$main-font: "Proxima Nova Rg", Helvetica, sans-serif;