@import url("https://use.typekit.net/ykq0wgv.css");

$main-text-color: #000000;
$subtext-color: #7e7e7e;
$accent-color: #6905E0;
$bg-color: #ffffff;
$highlight-color: #EBEBEB;
$line-color: #dcdcdc;
$white: #FFFFFF;
$light-red: #FF6159;
$light-yellow: #FFBD2E;
$light-green: #28C941;
$cyan: #28C9C6;
$border-radius-standard: 7px;
$standard-shadow: 0px 10px 20px rgba(39, 0, 86, 0.15);
$standard-shadow-hover: 0px 15px 25px rgba(39, 0, 86, 0.2);
$standard-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
$main-font: "usual", Helvetica, sans-serif;