@import "../../_variables";

.search-bar-wrapper {
	width: 100%;
	flex: 1;
	user-select: none;
	position: relative;
	-webkit-user-select: none;
	.search-bar-input {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		font-family: $main-font;
		outline: 0;
		font-size: 14px;
		border: 0;
		padding: 7px 10px;
		padding-right: 35px;
		border-radius: $border-radius-standard;
		background-color: $highlight-color;
		color: $main-text-color;
		user-select: auto;
		-webkit-user-select: auto;
		transition: background-color 150ms ease;
		&:focus {
			background-color: darken($highlight-color, 2);
		}
		&::placeholder {
			color: $subtext-color;
		}
	}
	.clear-btn-wrapper {
		position: absolute;
		top: 0;
		right: 5px;
		width: 30px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0.6;
		transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
		&:hover {
			cursor: default;
			opacity: 1;
		}
		&.hidden {
			transform: scale(0.5);
			opacity: 0;
			transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
		}
		.clear-btn-text {
			font-family: "flik";
			font-size: 18px;
			color: $main-text-color;
			transform: rotate(45deg);
		}
	}
}